.sidebar {
  position: sticky;
  top: 0;
  height: 100vh;
  color: #363636;
  overflow-x: hidden;
  transition-duration: 100ms;
  border-right: 1px solid #eee;
  padding: 0 0.1rem;
  overflow: scroll;
}

.sidebar-title {
  font-size: 2rem;
  margin: 0 0 1rem 2rem;
  margin-top: 0.5rem;
}

.sidebar-title a {
  white-space: nowrap;
}

a {
  color: #363636;
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul li a {
  display: flex;
  color: #363636;
}

ul li a div {
  display: flex;
  align-items: center;
}

li > .active > .icon-container {
  background-color: #ddd;
  color: #000;
}
li > .active:hover > .icon-container {
  background-color: #ccc;
  color: #000;
}

ul li:hover .icon-container {
  background-color: #eee;
}

.close-sidebar-button {
  position: absolute;
  right: 0;
  padding: 0.8rem 1rem;
  background-color: #eee;
  cursor: pointer;
}

.close-sidebar-button:hover {
  background-color: #ccc;
}

.close-sidebar-button svg {
  font-size: 1.5rem !important;
}

.icon-container {
  padding: 1rem;
  margin: 0.1rem 0.2rem 0.1rem 0.1rem;
  border-radius: 0.3rem;
}

.sidebar .MuiSvgIcon-root {
  font-size: 2rem;
}

.cart {
  position: relative;
}

.cart:hover .icon-container {
  background-color: #eee;
}

.cart-badge {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 0.9rem;
  bottom: 1rem;
  font-size: 0.8rem;
  font-weight: 600;
  background-color: #eee;
  color: #363636;
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 100rem;
  padding: 0.1rem;
  cursor: default;
}
