.product-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 12rem;
  cursor: pointer;
  border: 1px solid #eee;
  padding: 1rem;
  max-height: 327px;
  border-radius: 0.5rem;
  margin-bottom: 0.4rem;
  transition-duration: 100ms;
}

.item-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item-container-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1rem;
}

.item-cart-button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  white-space: nowrap;
}

.item-container img {
  display: flex;
  max-width: 10rem;
  max-height: 15rem;
  justify-content: center;
  align-items: center;
}

.price-item {
  color: #777;
}

.item-container-image {
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;
  height: 15rem;
}

.item-container-info p {
  white-space: nowrap;
  text-overflow: ellipsis;
  padding-top: 1rem;
  overflow: hidden;
}

.rating-container {
  position: absolute;
  display: flex;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.329);
  border-radius: 1rem;
  padding: 0 0.5rem 0 0.2rem;
  right: 0;
  bottom: 0;
}

.rating-container .MuiSvgIcon-root {
  color: rgb(255, 219, 15);
}
